html {
    font-size: 16px;
    width: 100%;
    height: 100%;
}
body{
    background: #fff;
}
@media screen and (min-width: 375px) {
    html {
        /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
        font-size: calc(100% + 2 * (100vw - 375px) / 39);
        font-size: calc(16px + 2 * (100vw - 375px) / 39);
    }
}
@media screen and (min-width: 414px) {
    html {
        /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
        font-size: calc(112.5% + 4 * (100vw - 414px) / 586);
        font-size: calc(18px + 4 * (100vw - 414px) / 586);
    }
}
@media screen and (min-width: 600px) {
    html {
        /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
        font-size: calc(125% + 4 * (100vw - 600px) / 400);
        font-size: calc(20px + 4 * (100vw - 600px) / 400);
    }
}
@media screen and (min-width: 1000px) {
    html {
        /* 1000px往后是每100像素0.5px增加 */
        font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
        font-size: calc(22px + 6 * (100vw - 1000px) / 1000);
    }
}
.logo{
    width: 100%;
    background: #fff;
    position:fixed;
    overflow: hidden;
    top: 0;
    z-index: 99;
}
.nav-box{
    width: 90%;
    margin:0 auto;
    overflow: hidden;
}
.nav-box a {
    margin-top: 10px;
    display: block;
}
.nav-box a img{
    width: 80px;
    height: 14px;
}
.nav-box form{
    margin:9px auto;
    overflow: hidden;
}
.nav-box form input{
    width: 94%;
    height: 24px;
    border: none;
    line-height: 24px;
    border: 1px solid #ccc;
    /* text-align: right; */
    border-radius: 15px;
    float: left;
    text-indent: 2rem;
    -webkit-appearance:none;
    padding-right: 5%;
    font-size: 0.6rem;
}

.nav-box form button{
    float: left;
    width: 10%;
    height: 22px;
    border: none;
    background:url(../images/sousuo.png)no-repeat;
    background-size:22px;
    margin-left: 2%;
}
.video{
    width: 90%;
    margin:0 auto;
    margin-top: 60px;
    overflow: hidden;
    padding-bottom: 60px;
}
.video-box{
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    height: 12rem;
    margin-top: 10px;
}

.video-box>a{
    position: absolute;
    display: block;
    overflow: hidden;
    width: 100%;
    height:100%;
}
.video-box>a>img{
    width: 100%;
    height:100%;
}
.message{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 2;
}
.message-left{
    float: left;
    color: #fff;
    font-size: 0.6rem;
    width: 65%;
}
.message-left>a{
    width: 2.2rem;
    height: 2.2rem;
    overflow: hidden;
    display: block;
    border: 2px solid #fff;
    border-radius: 50%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
}
.message-left>span{
    margin-top: 6%;
}
.message-left>p,.message-left>span{
    float: left;
    margin-left: 2%;

}
.message-left>p{
    width: 70%;
}
.message-left>a>img{
    width: 100%;
    height: 100%;
}
.message-right{
    float: right;
    line-height: 2rem;
    font-size: 0.6rem;
    color: #fff;
}
.message-right>span{
    margin-right: 0.5rem;
}
.message-right>i{
    font-size: 0.6rem;
}
.footer{
    width: 100%;
    height: 55px;
    border-top: 1px solid #edefee;
    background: #fff;
    position: fixed;
    z-index: 99;
    bottom: 0;
    display: -webkit-flex;
    display: flex;
}
.footer-box{
    flex:1;
    height: 50px;
    text-align: center;
}
.footer-box i{
    font-size: 1.2rem;
    margin: 4px 0;
}
.footer-box i,.footer-box span{
    display: block;
    color: #4c4c4c;
    
}
.footer-box span{
    font-size: 0.8rem;
}
.active{
    color: #f5008c!important;
}
.aa{
    width: 100%;
    height: 1200px;
    background: red;
}

.perform{
    width: 99%;
    height: 11rem;
    background: #fafafa;
    border-radius: 15px;
    border: 1px solid #ebebeb;
    text-align: center;
    overflow: hidden;
}
.perform i{
    font-size: 3rem;
    color: #f9e1ef;
    display: block;
    margin-top: 3.5rem;
}
.perform span{
    font-size: 1.2rem;
    color: #cacaca;
    display: block;
    margin-top: 0.5rem;
    
}
.topt{
    margin-top: 1rem;
}
.top1{
    margin-top: 35px!important;
}
.form-box{
    width: 100%;
    margin:10px 0;
    overflow: hidden;
}
.form-box label{
    font-size: 0.8rem;
    color: #4b4b4b;
    float: left;
    line-height: 1.2rem;
}
.form-box input{
    width: 85%;
    height:1.2rem;
    border: none;
    line-height: 20px;
    border: 1px solid #ccc;
    border-radius: 0;
    text-indent: 1rem;
    -webkit-appearance:none;
    font-size: 0.6rem;
    float: left;
    margin-left: 2%;
}
.form-box span{
    font-size: 0.8rem;
    display: block;
    line-height: 1.2rem;
    float: left;
    color: #4b4b4b;
    background: #e9e9e9;
    margin-left: 2%;
    padding: 0 2%;
}
.atv{
    background: #f20090!important;
    color: #fff!important;
}
.form-box textarea{
    width: 80%;
    margin-left: 2%;
    resize:none;
    text-indent: 1rem;
    line-height: 20px;
    outline:none;
    resize:none
}
.form-box button{
    margin:0 auto;
    display: block;
    webkit-appearance :none ;
    width: 25%;
    height: 1.6rem;
    border: none;
    background: #f20090;
    color: #fff;
}